mixin banner(img, title, description, clase, boton, botonClass, botonUrl, botonIco, botonText, botones)
  div(class='main-banner--' + clase + ' main-banner')
    .ed-container
      .ed-item.l-75.to-center
        img(src=img).main-banner__img
        .main-banner__data
          h1= title
          if (description !== '')
            p.subtitle= description
          if (boton)
            a(class='button--'+botonClass+' '+ botonIco '' href=botonUrl target="_blank" title=botonText).center=botonText
          if (botones)
            .center
              a.button--cta.small(href="https://join.slack.com/t/edlabs/shared_invite/enQtMjk1MjcxOTUzMzgxLTgyY2MwZjY3ODRhNGQyMWJkOWRkOGFlZjQ1YjJiYjAxOTMwNGIzMGViMjc5ODZmMmI3ZGFlNGNiMTEwNGIyNzc" target="_blank" title="Slack de EDgrid")
                span.icon-slack.space Slack
              a.button--dark.small(href="https://github.com/escueladigital/EDgrid" target="_blank" title="EDgrid en Github")
                span.icon-github.space Github
              a.button--tertiary.button--last.small(href="documentacion.html" title="Documentación de EDgrid")
                span.icon-docs.space Documentación
